.intro-container{position: relative; min-height: 800px;}
.intro-container::before {   position: absolute;   width: 100%;   height: 100%;   content: "";   left: 50%;   background: url(images/intro_bg.jpg) no-repeat;     background-size: cover;   transform: translateX(-50%);top: 0; z-index: -1;}
.bg-color {   position: absolute;   width: 1920px;   margin-left: 50%;   transform: translateX(-50%);z-index: -1; }

.intro-box {   max-width: 800px;}

.position-relative {   position: relative !important;   width: 100%;   max-width: 800px; }
.message-content {   width: 100%;   max-width: 448px;   z-index: 1;   background: #fff;     background-color: rgb(255, 255, 255);   background-color: rgb(255, 255, 255);   padding: 20px;   border-radius: 16px;   box-shadow: 4px 6px 6px 1px #000;   top: 22px;   left: -140px; }
.message-content h2 {   font-family: var(--prifont);   font-size: 37px;   color: #024a62; }
.img-slide-con {   position: absolute;   width: 784px;   left: -50%;   transform: translateX(-7%);   min-height: 405px;   max-height: 300px;border-radius: 15px;
  box-shadow: 1px 3px 4px 1px #2c2626; }
  element { } .message-content p {   font-size: 18px;   line-height: 100%;   font-family: unset;   font-weight: 600;   margin: 21px 0;  }
